.App {
  text-align: center;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 9px;
}

input {
  width: 50%;
  padding: 5px;
}

input:hover {
  border-color: #00ABE4;
}

input:focus {
   border-color: #00ABE4;
   box-shadow: 0 0 10px #E9F1FA;
}

button {
  border-radius: 30px;
  border: none;
  background-color: #00ABE4;
  color: white;
  height: 30px;
  margin: 5px;
  justify-content: center;
  cursor: pointer;
}

button:hover {
  background-color: #E9F1FA;
  color: #00ABE4;

}